<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Promo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/promo">Promo</a></li>
            <li><a href="/user/form">Formulaire</a></li>
            <li><a href="/user/list">Liste des utilisateurs</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Information sur la Promo</h1>
        <p>Nom de la classe : B1 Informatique</p>
        <p>Filière : Informatique</p>
        <p>Niveau : Bachelor 1</p>
        <p>Nombre d'étudiants : 3</p>
        <ul>
            <li>Jean Dupont - 20 ans - <img src="/static/male.png" alt="Homme"> Homme</li>
            <li>Marie Durand - 21 ans - <img src="/static/female.png" alt="Femme"> Femme</li>
            <li>Paul Martin - 22 ans - <img src="/static/male.png" alt="Homme"> Homme</li>
        </ul>
    </div>
</body>
</html>
