<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Utilisateurs</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/promo">Promo</a></li>
            <li><a href="/user/form">Formulaire</a></li>
            <li><a href="/user/list">Liste des utilisateurs</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Liste des Utilisateurs</h1>
        <table>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Sexe</th>
            </tr>
            <tr>
                <td>Jean</td>
                <td>Dupont</td>
                <td>12/01/1990</td>
                <td><img src="/static/male.png" alt="Homme"> Homme</td>
            </tr>
            <tr>
                <td>Marie</td>
                <td>Durand</td>
                <td>05/06/1992</td>
                <td><img src="/static/female.png" alt="Femme"> Femme</td>
            </tr>
        </table>
    </div>
</body>
</html>
